<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../pagina_Web/style/style.css">
</head>
<body>
    <header>
        <div class="logo"><span>Diseño</span><span class="multimedia">Multimedia</span></div>
        <nav>
            <ul>
                <li><a href="../menu.html">INICIO</a></li>
                <li><a href="#" class="actual">NOSOTROS</a></li>
                <li><a href="servicio.html">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="boletin">
            <span>Subscribete a nuestro boletín</span>
            <form>
                <input type="email" class="boletin-input" placeholder="Ingrese el email">
                <input type="submit" class="boletin-input" value="Subscribete">
            </form>
        </section>
        <section class="contenedor">
            <article class="contenido">
                <h1>Nosotros</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Preasent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacina et magna. Nam eget eros non orci consectetur congue at ac augue. Proin eget arcu in enim feugiat ultrices. Curabitur maximus metus pretium viverra at et orci. Integer hendrerit ante up placerat cursus.</p>
                <div class="greytext">
                    Aliquam eget pharetra diam. Nulla placerat lorem at turpis tempor, vel ultrices dui tincidunt. Proin quis egestas lorem. Mauris vehicula lectus odio, sit amet dictum justo feugiat a. Praesent id dictum lacus. Sed ullamcorper id erat ut dictum. Fusce porttitor lorem sapien, in aliquet sapien convallis et. Donec nec mauris nulla. Curabitur cursus semper odio, et hendrerit ante. Nunc at cursus ante. Maecenas gravida ligula ut efficitur suscipit. Nulla id turpis varius, pretium nunc sed, fermentum sem. Sed lacinia nunc non interdum pellentesqu.
                </div>
                <img src="../assets/images/891.jpg">
            </article>
            <aside>
                <div>
                    <h2>Que hacemos</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum. Preasent pharetra tincidunt tempor. Etiam velit eros, dapibus eget porta in, lacina et magna</p>
                </div>
            </aside>
        </section>
    </main>
    <footer>Graphel Desarrollo Web, copyright &copy 2017</footer>
</body>
</html>